<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <title>{{ title | default: "Geography Quiz" }}</title>
</head>
<body>
    <header>
      The Global Explorer: Geography Trivia Adventure
    </header>

    <div class="container">
        {{ content }}
    </div>

    <footer>
      &copy; 2024 Andrei Koshelev, INFT-3102-03. All rights reserved.
    </footer>
</body>
</html>
